In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from scipy.stats.mstats import winsorize

import warnings
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10, 6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 150

In [2]:
df=pd.read_csv("handling_outlier.csv")

In [4]:
df = df.join(df["Comfort & Convenience"].str.get_dummies(sep=",").add_prefix("cc_"))
df = df.join(df["Entertainment & Media"].str.get_dummies(sep=",").add_prefix("em_"))
df = df.join(df["Extras"].str.get_dummies(sep = ",").add_prefix("ex_"))
df = df.join(df["Safety & Security"].str.get_dummies(sep=",").add_prefix("ss_"))

In [5]:
df.drop(["Comfort & Convenience", "Entertainment & Media", "Extras", "Safety & Security"], axis=1, inplace=True)

In [6]:
df_final = pd.get_dummies(df, drop_first=True)

In [7]:
df_final.head().T

,0,1,2,3,4
price,15770.000,14500.000,14640.000,14500.000,16790.000
km,56013.000,80000.000,83450.000,73000.000,16200.000
hp,66.000,141.000,85.000,66.000,66.000
Previous Owners,2.000,1.000,1.000,1.000,1.000
Displacement,1422.000,1798.000,1598.000,1422.000,1422.000
...,...,...,...,...,...
Drive chain_rear,0.000,0.000,0.000,0.000,0.000
Fuel_Diesel,1.000,0.000,1.000,1.000,1.000
Fuel_Gas,0.000,0.000,0.000,0.000,0.000
Fuel_Others,0.000,0.000,0.000,0.000,0.000
Upholstery_type_Part/Full Leather,0.000,0.000,0.000,0.000,0.000

In [8]:
df_final.to_csv("final_scout_dummy.csv", index=False)